<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    
    
</head>
<body>
    
    <main class="movie-section">
        <h2 class="section-title">Latest Movies</h2>
        <div class="movies-grid">
            <div class="movie-card">
                <img src="images/Le-nouveau-.jpg" alt="THE EXPANSE" class="movie-image">
                
            </div>
            <div class="movie-card">
                <img src="images/from.jpeg" alt="RINGS" class="movie-image">
                
            </div>
            <div class="movie-card">
                <img src="images/carry-on-2024.jpeg" alt="POWER" class="movie-image">
                
            </div>
            <div class="movie-card">
                <img src="images/affiche-Babylone-.webp" alt="POWER" class="movie-image">
                
            </div>
            <div class="movie-card">
                <img src="images/c8c4b651c.avif" alt="POWER" class="movie-image">

            </div>
            
        </div>
    </main>


</body>
</html>