.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-icon {
    padding: 8px;
    
  }
  
  .favorite-icon {
    color: #FF4081; 
  }
  
  button[mat-raised-button] {
    margin-right: 10px; 
    border-radius: 2px;/* Ajoute un espacement entre les boutons */
}
