.card-container {
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;
}

mat-card {
    padding: 10px;
}

.example-header-image {
    background-image: url('https://randomuser.me/api/portraits/men/32.jpg');
    background-size: cover;
  }

mat-card-footer {
    margin-left: 20px;
}

.post-image {
    width: 100%;  /* L'image prendra toute la largeur du conteneur */
    height: auto; /* Garde le ratio de l'image */
    object-fit: cover; /* Coupe l'image pour remplir le conteneur sans déformation */
    border-radius: 8px; /* Optionnel : arrondir les bords */
  }
  